/* Allgemein */
.hide {
    display: none;
}


h2 {
    display: inline-block;
}
/* Datepicker */
.ui-datepicker-header {
    background-color: #ffffff;
    border: solid 1px #efefef;
    border-bottom: none;
}

.ui-datepicker-month, .ui-datepicker-year{
    width: 50%;
}

.ui-datepicker-next, .ui-datepicker-prev {
    display: none;
}


/* Mitglieder */
th {text-align: left;}

/* Mitglieder Detailansicht*/
.edit {
    background-color: #ffffff;
    border: solid #000000 1px;
}


/* Anmeldung */

#error {
    display: none;
}

/* Registrierung */

.form-error {
    border-bottom: red solid 2px;

}

/* Filter Mitgliedliste */
#filter_vorname {
    width: 0px;
}